@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Styling the overall document */
body{
    overflow: hidden;
}
.hero{
    min-height: 100%;
    min-width: 100%;
    background-image: url('/images/background.png') ;
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

/* Styling for login / signup page on index.html */
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 3% auto;
    background: #232323;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    margin-bottom: 0px;
    position: relative;
    box-shadow: 0 0 8px 2px #ffffff;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(236, 94, 0), red);
    border-radius: 30px;
    transition: .5s;
}

.login-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.signup-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: linear-gradient(to right, rgb(236, 94, 0), red);;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
}

#login{
    left: 50px;
}

#signup{
    left: 450px;
}

/* Styling for github icon on index.html */
.github-icon{
    text-align: center;
    margin: 60px auto;
}

.github-icon img{
    width: 60px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

/* Styling for the add contact box on contacts.html */
.contact-box{
    width: 380px;
    height: 480px;
    position: absolute;
    left: 40%;
    top: 25%;
    background: #232323;
    padding: 0px;
    overflow: hidden;
    display: none;
}

.add-contact-box{
    width: 290px;
    margin: 10px auto;
    margin-bottom: 0px;
    position: relative;
}

.add-contact-group{
    top: 50px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.title{
    margin-top: 3%;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.newContactHeading
{
    margin-top: 15%;
    text-align: center;
    color: white;
}

/* Styling for search bar on contacts.html */
.search-bar
{

    border-radius: 28px;
    
    border: 12px;
    font-size: 24px;
    width: 100%;
    height: 50px;
    outline: none;
    text-align: center;

}
.search-bar-container {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Styling for contacts toggle button on contacts.html */
.contacts-toggle img
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    
}

.contact-table {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 80%;
    height: 80%;
    
    
}

.contact-table-container {
  margin-top: 12%;
    margin: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-list-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #232323; 
}
.contact-list-item {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: white;
    border-radius: 10px;

    border : 1px solid black;
    margin-top: 5px;
}
.contact-list-content {

    width: 100%;
    max-height: 600px;
    overflow-y: auto;
}

.contact-page-topbar {
    height: 50px;

    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
    
  
}
.contact-page-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.action-btn {
    
    height: 40px;
    border-radius: 10px;
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.action-btn i {
    font-size: 20px;
    
}
.action-btn:hover {
    
    color: rgb(87, 87, 87);
}
.add-ctc-buttn {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 10px;
    border : 2px solid rgb(255, 255, 255);
    margin-top: 5px;
    font-size: xx-large;
    cursor: pointer;
}
.add-ctc-buttn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.search-btn {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.search-btn i {
    font-size: 20px;
    color: white;
}
.logout {
    cursor: pointer;
}
.user-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}
.user-group h3 {
    color: white;
}
.user-group i {
    color: rgb(235, 93, 93);
    font-size: 20px;
}

.result {
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50px;

}

.notification {
    color: black;
    text-align: center;
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
    position: sticky;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;


}

.success {
    background-color: rgb(111, 212, 124);
    border: 3px solid rgb(37, 112, 47);
    color: white;
    
}

.error {
    background-color: rgb(214, 67, 67);
    border: 3px solid rgb(112, 37, 37);
    color: #ffffff;
}
@media only screen and (max-width: 600px) {
    .search-bar-container {
      width: 60%;
    }
    .contact-box{
        width: 80vw;
        height: 60vh;
    }
  }


