*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Styling the overall document */
.hero{
    height: 100%;
    width: 100%;
    background-image: url('/images/background.png') ;
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* Styling for login / signup page on index.html */
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 3% auto;
    background: #232323;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    margin-bottom: 0px;
    position: relative;
    box-shadow: 0 0 8px 2px #ffffff;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(236, 94, 0), red);
    border-radius: 30px;
    transition: .5s;
}

.login-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.signup-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: linear-gradient(to right, rgb(236, 94, 0), red);;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
}

#login{
    left: 50px;
}

#signup{
    left: 450px;
}

/* Styling for github icon on index.html */
.github-icon{
    text-align: center;
    margin: 60px auto;
}

.github-icon img{
    width: 60px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

/* Styling for the add contact box on contacts.html */
.contact-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 10% auto;
    background: #232323;
    padding: 0px;
    overflow: hidden;
    display: none;
}

.add-contact-box{
    width: 290px;
    margin: 10px auto;
    margin-bottom: 0px;
    position: relative;
}

.add-contact-group{
    top: 50px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.title{
    margin-top: 3%;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.newContactHeading
{
    margin-top: 15%;
    text-align: center;
    color: white;
}

/* Styling for search bar on contacts.html */
.search-bar
{
    float: left;
    margin: auto;
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 28px;
    border: 12px;
    font-size: 24px;
    width: 60%;
    height: 50px;
    outline: none;
    text-align: center;
}

/* Styling for contacts toggle button on contacts.html */
.contacts-toggle img
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    margin: 2% auto;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    margin-left: -8%
}

/* Start of styling for table on contacts.html */
#table
{
    width: 500px;
    height: 500px;
    color: white;
}

